html {
  overflow: hidden;
}

.custom-shadcn-table,
.custom-shadcn-thead,
.custom-shadcn-tbody,
.custom-shadcn-tfoot {
  display: block;
}

.custom-shadcn-thead,
.custom-shadcn-tbody,
.custom-shadcn-tfoot {
  min-width: max-content;
}

.custom-shadcn-tbody {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.custom-shadcn-tr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  min-height: 50px;
}

.custom-shadcn-th,
.custom-shadcn-td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-width: 50px;
}
